<nav class="navbar">

  <div class="nav-container">

    <!-- LOGO -->
    <div class="logo">
      <div class="icon">R</div>
      <div>
        <h1>RideUni</h1>
        <span>Transporte Universitario</span>
      </div>
    </div>

    <!-- MENU -->
    <div class="menu">
      <a routerLink="/">Inicio</a>
      <a routerLink="/informacion">Información</a>
      <a routerLink="/camiones" class="active">Camiones</a>
      <a routerLink="/reportes">Reportes</a>
      <a routerLink="/contacto">Contacto</a>
    </div>

  </div>

</nav>