<div class="info-container">

  <h1>Información de Rutas</h1>
  <p class="sub">Recorrido del transporte universitario</p>

  <!-- MAPA -->
  <div class="map-card" (click)="abrirMapa = true">
    <img src="/images/MapaUTS.png" class="map-img">
  </div>

  <!-- MODAL -->
  <div class="modal" *ngIf="abrirMapa" (click)="abrirMapa = false">

    <div class="modal-content" (click)="$event.stopPropagation()">
      <img src="/images/MapaUTS.png" class="map-img big">
    </div>

  </div>

  <!-- CAMIONES EN RUTA -->
  <h2>Unidades en Operación</h2>

  <div class="grid">

    <div class="card" *ngFor="let c of camiones">
      <div class="top" [ngClass]="c.disponible ? 'ok' : 'bad'"></div>

      <h3>{{ c.placa }}</h3>

      <p class="estado" [ngClass]="c.disponible ? 'ok-text' : 'bad-text'">
        {{ c.disponible ? 'Disponible' : 'No disponible' }}
      </p>

      <div class="info">
        <p><strong>Conductor</strong></p>
        <p>{{ c.conductor }}</p>
        <hr>
        <p>{{ c.telefono }}</p>
      </div>

      <div class="salida">
        Salida: {{ c.salida | slice:0:5 }} | Llegada: {{ c.llegada | slice:0:5 }}
      </div>

    </div>

  </div>

</div>