<div class="container">

  <h1>Sistema de Reportes</h1>
  <p class="subtitle">Incidencias reportadas del servicio</p>

  <div class="layout">

    <!-- FORMULARIO -->
    <div class="formulario">

      <h2>Generar Reporte</h2>

      <label>Selecciona el camión</label>

      <select [(ngModel)]="idCamionSeleccionado" class="select-camion">
        <option [ngValue]="null" disabled>Selecciona un camión</option>
        <option *ngFor="let camion of camiones" [value]="camion.id">
          {{ camion.modelo }}
        </option>
      </select>

      <small class="error" *ngIf="!idCamionSeleccionado && intentoEnviar">
        Selecciona un camión
      </small>

      <textarea [(ngModel)]="nuevoReporte"
        placeholder="Describe el problema... (Ej: el camión llegó tarde, no pasó, etc)"></textarea>

      <small class="error" *ngIf="nuevoReporte.trim() === '' && intentoEnviar">
        Escribe una descripción
      </small>

      <button (click)="agregarReporte()" [disabled]="!idCamionSeleccionado || nuevoReporte.trim() === '' || loading">
        Enviar Reporte
      </button>

    </div>

    <!-- LISTA -->
    <div class="lista">

      <h2>Reportes Recientes</h2>

      <div class="card" *ngFor="let r of reportes">

        <div class="icon">📄</div>

        <div class="contenido">
          <p class="desc">{{ r.descripcion }}</p>

          <p class="camion"> {{ r.camion }}</p>

          <small class="fecha">
            {{ r.fecha | date:'dd/MMM/yyyy, HH:mm' }}
          </small>
        </div>

      </div>

    </div>

  </div>

</div>